<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="datasource=localhost;port=;username=root;password=root;database=milovan"/>
    <!---->
  </connectionStrings>
  <appSettings>
    <add key="DirectoryFilepath" value="\\NCPR"/>
  </appSettings>
</configuration>